{% extends "_layout/base" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ alias('@web/css/header.css') }}">
	<link rel="stylesheet" href="{{ alias('@web/css/footer.css') }}">
	<link rel="stylesheet" href="{{ alias('@web/css/header-dropdown.css') }}">
{% endblock %}

{% block body %}
	<header class="flex">
		<div class="logo">
			<img src="{{ alias('@web/assets/logo.png') }}" alt="logo">
		</div>
		<nav>
			<ul>
				<li><ahref="{{alias('@web/')}}">Home</a></li>
				<li><a class="themes dropdown__btn">Thema's</a></li>
				<li><ahref="{{alias('@web/mijnArtikels')}}">Mijn Artikels</a></li>
				<li><ahref="{{alias('@web/nieuwArtikel')}}">Nieuw Artikel</a></li>
			</ul>
		</nav>
		<div class="icon">
			{% if currentUser %}
				{# <i class="fa-solid fa-graduation-cap"></i> #}
				<form method="post" accept-charset="UTF-8">
					{{ csrfInput() }}
					{{ actionInput('users/logout') }}
					<button class="btn btn-primary">Uitloggen</button>
				</form>
			{% else %}
				<a class="btn btn-primary" href="{{ craft.entries.section('login').one().getUrl() }}">Inloggen</a>
			{% endif %}
		</div>
	</header>
	<div class="header-dropdown hidden">
		<div class="container">
			{% set themeCategories = craft.categories().group('themas').all() %}
			{% for theme in themeCategories %}
				{% set icon = theme.icon.one() %}
				{% set cropSetting = {
            mode: 'crop',
            width: 40,
            quality: 80
          } %}
				<div class="text">
					<img src="{{ icon.getUrl(cropSetting) }}" alt="{{ icon.alt }}" class="img-responsive center-block"/>
					<p>{{theme.title}}</p>
				</div>
			{% endfor %}
		</div>
	</div>

	<main>
		{% block content %}{% endblock %}
	</main>

	<footer class="flex">
		{% block footer %}
			<div class="footer_left">
				<p>© 2023</p>
			</div>
			<div class="footer_right">
				<p>Created by: Bjorn Van Hoorde</p>
			</div>
		{% endblock %}
	</footer>
{% endblock %}
